<h2 mat-dialog-title>Create Policy</h2>

<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography" style="width: 150vh">
  <form
    [formGroup]="formGroup"
    (ngSubmit)="addPolicy()"
    style="display: flex; flex-direction: column"
  >
    <div class="div-container">
      <mat-form-field class="example-full-width">
        <mat-label>Policy Name</mat-label>
        <input
          matInput
          placeholder="Enter the Policy Name"
          formControlName="title"
          name="title"
        />
        <mat-error *ngIf="formGroup.controls.title.hasError('required')">
          Title is required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Company Name</mat-label>
        <input
          matInput
          formControlName="companyName"
          placeholder="Enter the Owned companyName"
          name="companyName"
        />
        <mat-error *ngIf="formGroup.controls.companyName.hasError('required')">
          Company Name is required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="div-container">
      <mat-form-field class="example-full-width">
        <mat-label>Insured Amount</mat-label>
        <input
          matInput
          formControlName="insuredAmount"
          placeholder="Enter the Insured Amount"
          name="insuredAmount"
        />
        <mat-error
          *ngIf="formGroup.controls.insuredAmount.hasError('required')"
        >
          Insured Amount is required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Beneficiaries</mat-label>
        <mat-select [formControl]="multiSelectControl" multiple>
          <mat-option *ngFor="let option of options" [value]="option.value">
            {{ option.viewValue }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="formGroup.controls.beneficiariesList.hasError('required')"
        >
          Beneficiaries are required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="div-container">
      <mat-form-field style="width: 90%">
        <mat-label>Policy description</mat-label>
        <textarea
          matInput
          rows="5"
          formControlName="description"
          placeholder="Enter the description"
          name="description"
        ></textarea>
        <mat-error *ngIf="formGroup.controls.description.hasError('required')">
          Description is required
        </mat-error>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <mat-dialog-actions align="end">
      <button color="danger" mat-button mat-dialog-close>Cancel</button>
      <button color="primary" mat-button type="submit">Add</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
