.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.transparent-button {
  border: solid 1px white;
  color: white;
  background-color: transparent;
  border-radius: 5px;
}

table {
  width: 100%;
}
